.btn-gray:focus {
  outline: none;
  box-shadow: none;
}
.text-semanggi-gray {
  color: "#9FA2B4";
}
.text-semanggi-blue {
  color: "#1890ff !important"
}
.find-data {
  background-color: rgb(255, 255, 255); 
  border: 1px solid rgb(223, 224, 235); border-radius: 8px;
  input {
    outline: none; 
    border: none;
  }
}